<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Saludos, <%= @usuarioSeguido.name %></h1>
    <p>
     Tienes un nuevo seguidor! <br>
    	<%= @usuarioSeguidor.name %> 
	     <br>
		Visita su perfil y siguelo en el siguiente link: 
			<%= @url%>
     
      <br>
    </p>
  
    
    <p>Staff de TecnoBlog</p>
  </body>
</html>