<footer class="footer">
  <small>
    Blog Tecnologia por Oscar Gonzalez
  </small>
  <nav>
    <ul>
      <li><%= link_to "Facebook",   'http://www.facebook.com/oscar.sgc' %></li>
    </ul>
  </nav>
</footer>