<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Blog Tecnologia", '/', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Acerca de", '#' %></li>
          <li> <%= link_to "Registrarse!", signup_path%></li>

        </ul>
      </nav>
    </div>
  </div>
</header>